

a.up-button {
    display: none;
    font-size: 2rem; 
    padding:11px; //center arrow icon  
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color:white;
    z-index: 2147483647; //ensure button always above other elements
}

a.lazy-load {
    display:inline-block;
    position: fixed;
    bottom: 2em;
    color:white;
    z-index: 2147483647; //ensure button always above other elements
}

/* allow larger (100+) rank numbers to show correctly */
.link .rank {
    padding-right: 35px;
}

/*button[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    padding: 2px 6px 3px;
}*/